body {
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

.cont-grid {
  display: grid;
  place-items: center;
  padding-top: 100px;
}

@media (max-width: 375px) {
  .cont-grid {
    padding: 100px 15px;
  }
}

.card {
  display: flex;
  width: 90vh;
}

@media (max-width: 375px) {
  .card {
    width: 80vw;
    flex-direction: column;
  }
}

.icon {
  width: 50px;
  padding-bottom: 30px;
}

@media (max-width: 375px) {
  .icon {
    padding: 0px 20px 30px 20px;
  }
}

.title-text {
  font-family: Big Shoulders Display;
  font-size: 30px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  padding-bottom: 30px;
}

@media (max-width: 375px) {
  .title-text {
    font-size: 40px;
    padding: 0px 20px 20px 20px;
  }
}

.bottom-text {
  font-family: Lexend Deca;
  color: hsla(0, 0%, 100%, 0.75)
}

@media (max-width: 375px) {
  .bottom-text {
    font-size: 14px;
    padding: 0px 20px 0px 20px;
  }
}

.learn-button {
  font-family: Lexend Deca;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  margin: 80px 55px 0px 0px;
  background-color: hsl(0, 0%, 95%);
}

@media (max-width: 375px) {
  .learn-button {
    max-width: 30vw;
    margin-left: 20px;
  }
}

.button-1 {
  color: hsl(31, 77%, 52%);
}

.button-2 {
  color: hsl(184, 100%, 22%);
}

.button-3 {
  color: hsl(179, 100%, 13%);
}

.card-1, .card-2, .card-3 {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

@media (max-width: 375px) {
  .card-1 {
    border-radius: 10px 10px 0px 0px;
  }
}

.card-2 {
  background-color: hsl(184, 100%, 22%);
}

.card-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 375px) {
  .card-3 {
    border-radius: 0px 0px 10px 10px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

